    <fieldset style="max-width:360px" {{disabled}}>
      <legend>Identifying Information:</legend>
      Description:<br>
      <input type="text" name="description" placeholder="Title"
        value="{{description|e}}"
      />
      <br>Comment:<br>
      <input type="text" name="comment" placeholder="Comment"
        value="{{comment|e}}"
      />
      <br>Amount:<br>
      <input type="text" name="size" placeholder="Like 2 cups or large bowl"
        value="{{size|e}}"
      />
    </fieldset>
