{% extends "base.html" %}
{% block content %}
  <form method="get">
    <button formaction="run.py">List all Meals</button>
    <input type="hidden" name="cmd" value="report">
    <input type="hidden" name="edit" value="1">
    <input type="hidden" name="reverse" value="1">
    <button formaction="index.html" style="float: right;">Food Menu</button>
  </form>
  <form method="post" action="run.py" enctype="multipart/form-data">
    <input type="hidden" name="cmd" value="enter">
    <br>
    <input type="submit">
    <br>
    <fieldset style="max-width:360px">
      <legend>Image Entry:</legend>
      <input type="file" name="pic" accept="image/*"/>
    </fieldset>
    <fieldset style="max-width:360px">
      <legend>Identifying Information:</legend>
      Description:<br>
      <input type="text" name="description" placeholder="Title" />
      <br>Comment:<br>
      <input type="text" name="comment" placeholder="Comment/Context/Excuse" />
      <br>Amount:<br>
      <input type="text" name="size" placeholder="Like 2 cups or large bowl" />
    </fieldset>

    <fieldset style="max-width:360px"> <legend>Nutrition:</legend>
      <label class="nutrit" for="calories">Calories:</label>
      <input class="nutrit" type="number" name="calories" id="calories" 
        max="3000" step="5" />
        <button type="button" class="ifedit" 
          onclick="document.getElementById('calories').value =
          eval(document.getElementById('calccal').value || 0)">=</button>
        <input class="calc" type="text" id="calccal" />
      <br>

      <label class="nutrit" for="carbs">Carbs(g):</label>
        <input class="nutrit" type="number" name="carbs" id="carbs" size="2" 
          max="300" step="1" />
        <button type="button" class="ifedit" 
          onclick="document.getElementById('carbs').value =
          eval(document.getElementById('calccarbs').value || 0)">=</button>
        <input class="calc" type="text" id="calccarbs" />
        <br>

        <label class="nutrit" for="prot">Protein(g):</label>
          <input class="nutrit" type="number" name="protein" id="prot" size="2" 
            max="300" step="1">
          <button type="button" class="ifedit" 
            onclick="document.getElementById('prot').value =
            eval(document.getElementById('calcprot').value || 0)">=</button>
          <input class="calc" type="text" id="calcprot" />
        <br>

        <label class="nutrit" for="fat" >Fat(g):</label>
            <input class="nutrit" type="number" name="fat" id="fat" size="2" 
              max="300" step="0.5">
            <button type="button" class="ifedit" 
              onclick="document.getElementById('fat').value =
              eval(document.getElementById('calcfat').value) || 0">=</button>
            <input class="calc" type="text" id="calcfat"/>
        <br>

      </fieldset>

      <fieldset style="max-width:360px">
        <legend>Instance Information:</legend>

        <label class="inst" for="servings">Servings:</label>
        <input class="inst" type="number" name="servings" id="servings" 
          min="0.1" max="9" step="0.1" value="1" /><br>

        <label class="inst" for="day">Day:</label>
        <input class="inst" type="date" name="day" id="day" /><br>

        <label class="inst" for="time">Time: </label>
        <input type="time" name="time" id="time" /><br>

        <label class="inst" for="meal">Meal: </label>
        <input class="inst" list="meals" name="meal" id="meal" />

        <datalist id="meals">
          <option value="Breakfast">
          <option value="Lunch">
          <option value="Supper">
          <option value="Snack">
          <option value="Exercise">
        </datalist>
      </fieldset>
      <br>
      <input type="submit">
      <br>
    </form>

    <form method="get">
      <button formaction="run.py">List all Meals</button>
      <input type="hidden" name="cmd" value="report">
      <input type="hidden" name="edit" value="1">
      <input type="hidden" name="reverse" value="1">
      <button formaction="index.html" style="float: right;">Food Menu</button>
    </form>

    <p>{{STATUS}}</p>


{% endblock %}

