{% extends 'base.html' %}
{% block content %}

  <form method="get">
    <button formaction="run.py">List all Meals</button>
    <input type="hidden" name="cmd" value="report">
    <input type="hidden" name="edit" value="1">
    <input type="hidden" name="reverse" value="1">
    <input type="hidden" name="jinjatemplate" value="mealdetail.html">
    <button formaction="index.html" style="float: right;">Food Menu</button>
  </form>
  <form method="post" action="{{SCRIPT_NAME}}" enctype="multipart/form-data">
    <br>
    {% block button_bar %} {% endblock button_bar%}
    <input type="hidden" name="id" value={{id}}>
    <br>
    {% include "description.html" %}
    {% include "nutrition.html" %}

    <fieldset style="max-width:360px" {{disabled}}><legend>Nutrition:</legend>

{% macro nutricalc(for, prompt, value, name, calcid, max=300, step=1) -%}
    <label class="nutrit" for="{{for}}">{{prompt}}:</label>
    <input class="nutrit"
           type="number"
           name="{{ name }}"
           id="{{ for }}"
           max="{{ max }}"
           step ="{{ step }}"
           value="{{ value }}"
    />
    <button
        type="button"
        class="ifedit"
        onclick="document.getElementById('{{ for }}').value =
        eval(document.getElementById('{{ calcid }}').value || 0)">=</button>
    <input
      class="calc"
      type="text"
      placeholder="Formula"
      id="{{ calcid }}" />
    <br>

{% endmacro -%}

      {{ nutricalc(for='calories', prompt='Calories', value=calories,   name='calories', calcid='calccal', max=3000, step=5) }}

      {{ nutricalc(for='carbs',    prompt='Carbs(g)', value=carbs,   name='carbs',    calcid='calccarbs'                ) }}

      {{ nutricalc(for='prot',     prompt='Protein(g)', value=protein, name='protein',  calcid='calcprot'                 ) }}

      {{ nutricalc(for='fat',      prompt='Fat(g)', value=fat,     name='fat',      calcid='calcfat', step=0.5        ) }}



    </fieldset>

    <fieldset style="max-width:360px" {{disabled}}>
      <legend>Instance Information:</legend>
      <label class="inst" for="servings">Servings:</label>
      <input class="inst" type="number" name="servings" id="servings"
        min="0.1" max="9" step="0.1" value="{{servings}}" /><br>

      <label class="inst" for="day">Day:</label>
      <input class="inst" type="date" name="day" id="day"
        value="{{day}}"
      /><br>

      <label class="inst" for="time">Time:</label>
      <input type="time" name="time" id="time" value="{{time}}"><br>

      <label class="inst" for="meal">Meal:</label>
      <input class="inst" list="meals" id="meal" name="meal" value="{{meal}}"
      />
      <datalist id="meals">
        <option value="Breakfast">
        <option value="Lunch">
        <option value="Supper">
        <option value="Snack">
        <option value="Exercise">
      </datalist>
    </fieldset>
    {{self.button_bar()}}
    {% block delete_bar %} {% endblock delete_bar%}
    <br>
  </form>

  <p>{{STATUS}}</p>
  {% block image_band %}
    {% if IMAGE %}
        <img src={{ IMAGE }} alt="Food">
    {% endif %}
  {% endblock image_band %}

{% endblock %}
