{% extends "base.html" %}

{% block content %}
<h2>{{start}} <=> {{end}}</h2>
<form method="get">
    <button formaction="index.html">Food Menu</button>
</form>
<input type="hidden" name="jinjatemplate" value="report.html">
<table>

{% for day in days|sort(reverse, attribute='date') %}
  {% if not day.meals|length %}
    <tr><th colspan=7>{{day.date|dateformat}} was not recorded</th></tr>
  {% else %}
    <tr>
      <th colspan="7">{{day.date|dateformat}}</th>
    </tr>
    <tr>
      <th>Meal</th>
      <th>Item</th>
      <th>Servings</th>
      <th>Cals</th>
      <th>Carbs</th>
      <th>Fat</th>
      <th>Protein</th>
    </tr>
    {% for meal in day.meals %} {# meal[1] is list of courses #}
      {% for course in meal[1] %}
        <tr>
            {% if loop.first %}
                <th rowspan="{{meal[1]|length}}">{{meal[0]|e}}</th>
            {% endif %}
            {% set description = course.dish|default("Not Yet Named", true)|truncate(40, False)|e %}
            {% if course.bold %}
            {% set description %}<strong>{{description}}</strong>{% endset %}
            {% endif %}
            <td><a href="{{SCRIPT_NAME}}?cmd={{cmd}}&id={{course.id}}">{{description}}<a></td>
          <td>{{course.servings|spacenone}}</td>
          <td>{{course.calories|spacenone}}</td>
          <td>{{course.carbs|spacenone}}</td>
          <td>{{course.fat|spacenone}}</td>
          <td>{{course.protein|spacenone}}</td>
        </th>
      </tr>
      {% endfor %}
    {% endfor %}
  <tr>
    <th colspan="3">Total</th>
    <td>{{day.total.calories}}</td>
    <td>{{day.total.carbs}}</td>
    <td>{{day.total.fat}}</td>
    <td>{{day.total.protein}}</td>
  </tr>
  {% endif %}
{% endfor %}
</table>
<form method="get">
    <button formaction="index.html">Food Menu</button>
</form>
recomputed on {{now}}
{% endblock %}
