{% extends "base.html" %}
{% block content %}
{%block button_bar %}
<form method="get">
  <button formaction="run.py">List all Meals</button>
  <input type="hidden" value="report" name="cmd">
  <input type="hidden" value="1" name="edit">
  <input type="hidden" value="1"  name="reverse">
  <button formaction="index.html" style="float: right;">Food Menu</button>
</form>
{%endblock button_bar %}
    <input type="hidden" name="jinjatemplate" value="searchresult.html">
    <table>
      <tr>
        <th>Description</th>
        <th>Comment</th>
        <th>Size</th>
        <th>Cals</th>
        <th>Carbs</th>
        <th>Fat</th>
        <th>Protein</th>
        <th>Score</th>
      </tr>

    {% for row in results %}
      <tr>
        <td><a href="run.py?cmd=edit&id={{row.id}}">{{row.description|default("Not Yet Named", true)|truncate(30)}}</a></td>
        <td>{{row.comment|spacenone|truncate(20)}}</td>
        <td>{{row.size|spacenone|truncate(20)}}</td>
        <td>{{row.calories|spacenone}}</td>
        <td>{{row.carbs|spacenone}}</td>
        <td>{{row.fat|spacenone}}</td>
        <td>{{row.protein|spacenone}}</td>
        <td>{{row.score|spacenone}}</td>
      </tr>
    {% endfor %}
    </table>

    {{self.button_bar()}}


{% endblock %}

